<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165483707312-grjfkjgnku7klh8p72a68cpp4o3peee5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165483707312-grjfkjgnku7klh8p72a68cpp4o3peee5</string>
	<key>API_KEY</key>
	<string>AIzaSyCHpsFFmmdGdRquEP4fgS7b_8Wghtr-Kbs</string>
	<key>GCM_SENDER_ID</key>
	<string>165483707312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSE-390.Restaurant</string>
	<key>PROJECT_ID</key>
	<string>restaurant-bcb73</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-bcb73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165483707312:ios:88e4fb3f484e9ea2b5b475</string>
</dict>
</plist>